page-modal {
    .price_est {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .scroll-content {
        background: color($colors, white);
    }

    .bar-button {
        color: color($colors, white);
    }
}
