page-home {
    .cv--logo {
        max-width: 200px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        font-weight: bold !important;
        font-size: 1.3em !important;
    }
}
